.ul {
    padding-left: 20px;
    font-size: 15px;
    font-weight: 600;
    justify-content: space-between;
    width: 200px;
}
.btn {
  margin-left: 10px;
  background-color: rgb(166, 195, 238);
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(42, 84, 148);
}

.textContent {
  justify-content: space-between;
  display: flex;
}
